<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}} - Regina Community Fridge</title>
    {% load django_bootstrap5 %} 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .bg-med-green {
        background-color: forestgreen;
    
    }</style>
</head>
<body>
    <nav class="navbar navbar-dark bg-med-green fixed-top justify-content-center mb-4 border">
        <ul class="navbar-nav">
        <li class="nav-item mx3"> <a class="nav-link text-white" href="{% url 'index:home' %}">Home</a></li>
        <li class="nav-item mx3"><a class="nav-link text-white" href="{% url 'index:volunteer'%}">Volunteer</a></li>
        <li class="nav-item mx3"><a class="nav-link text-white" href="{% url 'index:messageboard' %}">Messageboard</a></li>
        <li class="nav-item mx3"><a class="nav-link text-white" href="{% url 'index:contact' %}">Contact Us</a></li>
        </ul>
        </nav>
        <main class="container">
            <div class="pb-2 mb-2 border-bottom"> 
                {% block page_header %}
                <h1>{{ page_title }}</h1>
                {% endblock page_header %} 
</div class="container text-center">
        {%block content %}
        {%endblock content%}
        </main>
</body>
</html>