<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}} - Regina Community Fridge</title>
    {% load django_bootstrap5 %} 
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .bg-med-green {
        background-color: forestgreen;
    
    }</style>
</head>
<body>
    <nav class="navbar navbar-dark bg-med-green mb-4 border">
        <div class="container justify-content-center">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item mx-3"> <a class="nav-link text-white" href="{% url 'index:home' %}">Home</a></li>
            <li class="nav-item mx-3"><a class="nav-link text-white" href="{% url 'index:volunteer'%}">Volunteer</a></li>
            <li class="nav-item mx-3"><a class="nav-link text-white" href="{% url 'index:messageboard' %}">Messageboard</a></li>
            <li class="nav-item mx-3"><a class="nav-link text-white" href="{% url 'index:contact' %}">Contact Us</a></li>
          </ul>
        </div>
      </nav>
      <header class="mt-2 mb-2">
        {% block page_header %}
                <h1>{{ page_title }}</h1>
                {% endblock page_header %}
      </header>
      
        <main class="container d-flex justify-content-center align-items-center mp-3"">
            <div >
                {%block content %}
                {%endblock content%}
            </div>
        
        </main>
</body>
</html>