{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="p-3 mb-4 bg-light border rounded-3"> 
    <div class="container-fluid py-4">
        <h1>{{ page_title }}</h1>
        <p>There are a lot of ways to get involved with the Regina Community Fridge. Here is a short run-down of the main ways to get involved.</p>
    </div>
</div>
{% endblock page_header %}
{% block content %}

        <h2>FlashFood pickups</h2>
        <img src="{% static 'flashfood.svg' %}" width="150" height="150" alt="A monochrome image of a shopping bag.">
        <p class="text-break lh-lrg mx-5 my-5 px-5 py-5">FlashFood is an app that allows grocery stores to post food that is at risk of going to waste. It is less expensive than if you were to buy it normally. Let us know when you are going to do a FlashFood pickup, and we will put a notice out to the <a href="{% url 'index:messageboard' %}">message board.</a></p>
        <p><a class="bg-light" href="https://apps.apple.com/ca/app/flashfood-grocery-deals/id1187314160">Download on Apple</a></p>
        <p><a class="bg-light" href="https://play.google.com/store/apps/details?id=com.flashfoodapp.android&hl=en_CA&gl=US">Download on Android</a></p>
        <br>

        <h2>Deliveries</h2>
        <img src="{%static 'driving.svg' %}" width="150" height="150" alt="A monochrome image of a car.">
        <p class="text-break lh-lrg mx-5 my-5 px-5 py-5">We get donations from donors that often end up going to waste due to the fact we do not have enough people to pick them up. As a result, we are always in need of drivers to bring them to the fridge.</p>
        <br>
        
        <h2>Kitchen team</h2>
        <img src="{% static 'kitchen.svg'%}" width="150" height="150" alt="A monochrome image of a kitchen stove and counter.">
        <p class="text-break lh-lrg mx-5 my-5 px-5 py-5">We have volunteers who come together to prepare meals that are safe and nutritious. In order for us to do this, we need to have multiple people interested. Just let us know if you are, and we will be in touch.</p>
        <br>


        <h2>Cleaning up</h2>
        <img src="{% static 'cleaning.svg'%}" width="150" height="150" alt="A monochrome image of a cleaning spray bottle.">
        <p class="text-break lh-lrg mx-5 my-5 px-5 py-5">Keeping the fridge a safe and sanitary place is a top priority. You can help us do so by cleaning up any debris or expired items in the fridge, or signing up for a regular cleaning shift.</p>
        <br>

    
        <h2>Donations</h2>
        <img src="{% static 'donate.svg'%}" width="150" height="150" alt="A monochrome image of staple food items, such as a big of what looks to be flour, an egg, and a milk jug.">
        <p class="text-break lh-lrg mx-5 my-5 px-5 py-5">We are always looking for food or monetary donations. See the donation guide for details on what is acceptable, and how to do so.</p>
        <br>

</div>
{% endblock content %}
